.bg-radial-dark {
  background: radial-gradient(ellipse at center, --color-cinzaAzul, --color-preto);
  background-repeat: repeat-y;
  background-size: 100% 1024px;
  width: 100%;
  min-height: 100vh;
  padding-top: 35px;
}
