@import "tailwindcss";

body {
  height: 100vh;
}

@theme {
  --color-preto: #000;
  --color-pretoMedio: #171717;
  --color-branco: #ffff;
  --color-brancoMedio: #f7f7f7;
  --color-cinzaClaro: #E1E1E1;
  --color-cinzaAzul: #273142;
  --color-azul: #227298;
  --font-source-sans: "Source Sans 3", "sans-serif";
  --font-share-tech: "Share Tech", "sans-serif";
  
  --leading-1: 1.375rem;
  /* line-altura */
}

.span {
  color: var(--color-azul);
}

.nav {
  max-width: fit-content;
  position: relative;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: end;
}

.logo {
  height: 3.8rem;
  width: 3.8rem;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 7.5rem;
  font-family: var(--font-share-tech);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-pretoMedio);
  margin-right: 4.1rem;
}

.ul li:hover {
  transition: 0.2s;
  cursor: pointer;
  color: var(--color-azul);
}

.divTemaUsuario  {
  display: flex;
  gap: 1.3rem;
}

.temaUsuario {
  height: 37px;
  width: 37px;
}

.divHomeIntro {
  position: relative;
  max-width: 1035px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 7.47rem;
}

.divHomeIntro img {
  width: 336px;
  height: 500px;
  border-radius: 7.8rem;
  box-shadow: 5px 8px 12px 0 #227298;
}

.divHomeIntro h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
  margin-top: 3.75rem;
  max-width: 550px;
  line-height: normal;
}

.divHomeIntro p {
  font-size: 18px;
  font-family: var(--font-source-sans);
  max-width: 470px;
  margin-block: 4rem;
}


.HomeIntroButton {
  font-family: var(--font-share-tech);
  font-size: 18px;
  color: var(--color-azul);
  border: 1px solid var(--color-azul);
  height: 2.6rem;
  width: 11rem;
  border-radius: 22px;
  transition: 0.5s;
}

.HomeIntroButton:hover {
  background-color: var(--color-azul);
  color: var(--color-branco);
}

.divHomeDiferencial {
  max-width: 1035px;
  margin-top: 14rem;
  margin-inline: auto;
}

.divHomeDiferencial h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
  max-width: 550px;
  line-height: normal;
}

.divHomeDiferencial p {
  font-size: 18px;
  font-family: var(--font-source-sans);
  text-align: justify;
  max-width: 600px;
  margin-block: 5rem;
}

.dhdP1 {
  justify-self: end;
}

.dhdP2 {
  justify-self: center;
}

.bordaIcon {
  background-color: var(--color-cinzaClaro);
  border-radius: 999px;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bordaIcon img {
  width: 38px;
}

@layer utilities {
.bg-radial-dark {
  background: radial-gradient(ellipse at center, #273142, #000000);
}

.bg-linear-vertical {
  background: linear-gradient(to bottom, #227298, #273142);
} 

}