@import "tailwindcss";

body {
  height: 100vh;
}

@theme {
  --color-preto: #000;
  --color-pretoMedio: #171717;
  --color-branco: #ffff;
  --color-brancoMedio: #f7f7f7;
  --color-cinzaClaro: #E1E1E1;
  --color-cinzaEscuro: #D9D9D9;
  --color-cinzaAzul: #273142;
  --color-azul: #227298;

  --color-linearLuz: linear-gradient(to bottom, #E1E1E1 10%, #F7F7F7 65%);
  --color-linearDark: linear-gradient(to bottom, #000 10%, #273142 65%);
  --color-linearAzul: linear-gradient(to bottom, #227298 0%, #273142 92%);
  --font-source-sans: "Source Sans 3", "sans-serif";
  --font-share-tech: "Share Tech", "sans-serif";
  
  --leading-1: 1.375rem;
}

/* ----------------------------------------------------------COMPONENTES */

.span {
  color: var(--color-azul);
}

.Botao {
  font-family: var(--font-share-tech);
  font-size: 18px;
  color: var(--color-azul);
  border: 1px solid var(--color-azul);
  height: 2.6rem;
  width: 11rem;
  border-radius: 22px;
  transition: 0.5s;
}

.Botao:hover {
  background-color: var(--color-azul);
  color: var(--color-branco);
  cursor: pointer;
}

.botao {
  margin-top: 0.6rem;
  font-family: var(--font-source-sans);
  background-color: var(--color-cinzaAzul);
  color: var(--color-branco);
  border-radius: 24px;
  font-size: 18px;
  padding-block: 0.4rem;
}

.botao:hover {
  cursor: pointer;
  opacity: 90%;
}

.Input {
  font-size: 15.5px;
  color: var(--color-azul);
  width: 395px;
  padding: 0.45rem 0.8rem;
  font-family: var(--font-source-sans);
  border: 2px solid var(--color-azul);
  border-radius: 17px;
}

.Input:focus {
  outline: none;
}

.Input::placeholder {
  font-family: var(--font-source-sans);
  font-size: 15.5px;
  color: var(--color-azul);
}

.material {
  background: var(--color-linearAzul);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 140px;
  padding-inline: 1.45rem;
  transition: transform 0.2s ease-in-out;
}

.material:hover {
  transform: scale(1.08);
  transition: transform 0.2s ease-in-out;
}

.Minformacao {
  height: 140px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.65rem;
}

.Mfoto {
  height: 93.5px;
  width: 93.5px;
  border-radius: 999px;
}

.Mtt {
  width: 210px;
  height: 120px;
  display: flex;
  flex-direction: column;
}

.Mtt h6 {
  font-family: var(--font-share-tech);
  font-size: 17px;
  color: var(--color-branco);
  margin-bottom: 1rem;
  align-self: center;
}

.Mtt p {
  font-family: var(--font-source-sans);
  font-size: 14px;
  color: var(--color-branco);
  width: fit-content;
  font-weight: 400;
}

.Mpreco {
  font-family: var(--font-share-tech);
  font-size: 18px;
  color: var(--color-branco);
}

.Produtos {
  display: flex;
  align-items: center;
  gap: 5.5rem;
  max-width: fit-content;
  margin-top: 2.5rem;
  height: fit-content;
  font-family: var(--font-source-sans);
  font-size: 15.5px;
  color: var(--color-branco);
  margin-left: 2rem;
}

.Produtos .nome {
  max-width: 85px;
  height: fit-content;
}

.Produtos .descricao {
  max-width: 170px;
  height: fit-content;
}

.Produtos .icons {
  display: flex;
  gap: 1.4rem;
  margin-left: 2rem;
}

.Produtos .icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.FooterLuz {
  margin-top: 7rem;
  width: 100%;
  height: 35px;
  background-color: var(--color-cinzaAzul);
  display: flex;
  align-items: center;
}

.FooterDark {
  margin-top: 7rem;
  width: 100%;
  height: 35px;
  background-color: var(--color-azul);
  display: flex;
  align-items: center;
}

/* ----------------------------------------------------------NAVBAR */

.navMobile {
  display: none;
}

.nav {
  max-width: fit-content;
  position: relative;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: end;
}

.logo {
  height: 3.8rem;
  width: 3.8rem;
  cursor: pointer;
  transition: 0.4s;
}

.logo:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.15);
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 7.5rem;
  font-family: var(--font-share-tech);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-pretoMedio);
  margin-right: 4.1rem;
}

.nav ul li {
  transition: transform 0.2s ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.15);
  transition: 0.25s;
  cursor: pointer;
  color: var(--color-azul);
}

.temaUsuario {
  cursor: pointer;
  height: 37px;
  width: 37px;
}

.temaUsuario:hover {
  opacity: 80%;
}

/* ----------------------------------------------------------HOME */

.divHomeIntro {
  position: relative;
  max-width: 1035px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 7.47rem;
}

.divHomeIntro img {
  width: 336px;
  height: 500px;
  border-radius: 7.8rem;
  box-shadow: 5px 8px 15px 0 rgba(34, 114, 152, 0.7);
  animation: shadowDance 3s ease-in-out infinite alternate;
  transform-origin: center; 
}

@keyframes shadowDance {
  0% {
    transform: translate(0, 0) rotate(0deg);
    box-shadow: 
      5px 8px 15px 0 rgba(34, 114, 152, 0.7),
      0 0 25px 5px rgba(34, 114, 152, 0.4);
  }
  25% {
    transform: translate(-2px, -3px) rotate(-1deg);
    box-shadow: 
      8px 12px 20px 0 rgba(34, 114, 152, 0.8),
      -5px -5px 30px 5px rgba(34, 114, 152, 0.3);
  }
  50% {
    transform: translate(2px, 1px) rotate(1deg);
    box-shadow: 
      3px 5px 25px 0 rgba(34, 114, 152, 0.9),
      5px 0 30px 10px rgba(34, 114, 152, 0.5);
  }
  75% {
    transform: translate(-1px, 2px) rotate(0.5deg);
    box-shadow: 
      10px 5px 18px 0 rgba(34, 114, 152, 0.6),
      0 10px 35px 5px rgba(34, 114, 152, 0.6);
  }
  100% {
    transform: translate(1px, -2px) rotate(-0.5deg);
    box-shadow: 
      5px 8px 22px 0 rgba(34, 114, 152, 0.7),
      -10px 0 25px 5px rgba(34, 114, 152, 0.4);
  }
}

.divHomeIntro h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
  margin-top: 3.75rem;
  max-width: 550px;
  line-height: normal;
}

.divHomeIntro p {
  font-size: 18px;
  font-family: var(--font-source-sans);
  max-width: 470px;
  margin-block: 4rem;
}

.botoesHome {
  display: flex;
  gap: 3rem;
  justify-content: start;
  max-width: 420px;
}

.divHomeDiferencial {
  max-width: 1035px;
  margin-top: 14rem;
  margin-inline: auto;
}

.divHomeDiferencial h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
  max-width: 550px;
  line-height: normal;
}

.umDois {
  font-size: 18px;
  font-family: var(--font-source-sans);
  text-align: justify;
  max-width: 600px;
  margin-block: 5rem;
}

.dhdP1 {
  justify-self: end;
}

.dhdP2 {
  justify-self: center;
}

.bordaIcon {
  background-color: var(--color-cinzaClaro);
  border-radius: 999px;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divHD2 {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.bordaIcon img {
  width: 38px;
}

.divHD3 {
  background-color: var(--color-azul);
  border-radius: 40px;
  padding-block: 1.2rem;
  padding-inline: 2rem;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.divHD3 h4 {
  color: var(--color-branco);
  text-align: justify;
  font-family: var(--font-share-tech);
  font-size: 16px;
  font-weight: 400;
}

.divHD3 p {
  color: var(--color-branco);
  max-width: 200px;
  text-align: center;
  font-family: var(--font-source-sans);
  font-size: 14px;
  font-weight: 300;
}

.divHomeMissao {
  margin-top: 8.4rem;
}

.divHomeMissao h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
  max-width: 500px;
  line-height: normal;
  justify-self: center;
  text-align: center;
}

.divHM1 {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.divHM2 {
  display: flex;
  flex-direction: column;
  margin-top: 7.6rem;
  gap: 1.8rem;
}

.divHomeMissao p {
  font-family: var(--font-source-sans);
  font-size: 18px;
  max-width: 600px;
  text-align: center;
}

.divHomeMissao img {
  width: 500.4px;
  height: 432px;
}

/* ----------------------------------------------------------GUIA */

.GP {
  margin-top: 6rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 955px;
}

.GP h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
}

.GP h2 {
  margin-top: 3rem;
  font-family: var(--font-share-tech);
  color: var(--color-preto);
  font-size: 30px;
}

.GP p {
  font-family: var(--font-source-sans);
  text-align: center;
  max-width: 670px;
  margin-top: 1rem;
  font-size: 18px;
}

.GP .GPb {
  margin-block: 3rem;
}

/*----------------------------------------------------------MATERIAIS */

.materiais {
  margin-top: 7.47rem;
}

.materiais2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.materiais2 h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
  text-align: center;
  max-width: 600px;
}

.materiais2 p {
  max-width: 880px;
  text-align: center;
  font-family: var(--font-source-sans);
  font-size: 18px;
}

.materiais2 button {
  margin-left: auto;
  margin-right: 2rem;
  cursor: pointer;
}

.materiais3 {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

/* ----------------------------------------------------------JOGO */

.jogo h1 {
  margin-inline: auto;
  margin-top: 7.47rem;
  margin-bottom: 7.47rem;
  width: 320px;
  text-align: center;
  font-size: 35px;
  font-family: var(--font-share-tech);
}

.jogo2 {
  display: flex;
  justify-content: center;
  gap: 6rem;
  height: 470px;
}

.jogo3 {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.jogo4 {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.jogo4 p {
  font-family: var(--font-source-sans);
  text-align: justify;
  font-size: 18px;
}

/* ----------------------------------------------------------REFERÊNCIAS */

.Referencias {
  margin-top: 7.47rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.Referencias h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
}

.Referencias p {
  font-family: var(--font-source-sans);
  text-align: center;
  max-width: 1000px;
  font-size: 18px;
}

.R1 {
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.5rem;
  margin-top: 2rem;
}

.R1 h4 {
  color: var(--color-preto);
  font-size: 25px;
  font-family: var(--font-share-tech);
}

.R1 div {
  display: flex;
  width: 600px;
  justify-content: space-around;
}

.R1 a {
  font-weight: 600;
  font-style: italic;
  transition: 0.35s;
}

.R1 a:hover {
  transition: transform 0.25s ease-in-out;
  transform: scale(1.15);
  cursor: pointer;
}

/* ----------------------------------------------------------SOBRE NÓS */

.SobreNos h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
  width: fit-content;
  margin-inline: auto;
  text-align: center;
}

.SobreNos {
  margin-top: 7.47rem;
}

.SN2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.SN1 {
  display: flex;
  align-items: center;
  margin-inline: auto;
  max-width: 1160px;
  margin-top: 5rem;
  justify-content: space-between;
}

.SNdev {
  border-radius: 999px;
  height: 280px;
  width: 280px;
  background-image: url('../src/assets/vencedores.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.SN2primeiro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.SN2segundo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.SN2segundo a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.SN2segundo a p {
  font-family: var(--font-share-tech);
  color: var(--color-cinzaAzul);
  font-size: 16px;
}

.unasp {
  height: 190px;
  width: 190px;
}

.insta {
  height: 30px;
  width: 30px;
}

.SN3 {
  width: 715px;
}

.SN3primeiro {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.SN3primeiro p {
  font-family: var(--font-source-sans);
  font-size: 18px;
  text-align: justify;
}

.SN3 .Botao {
  align-self: end;
  width: 8rem;
}

body.dark h1 {
  color: var(--color-branco);
}

body.dark h4, body.dark h2 {
  color: var(--color-brancoMedio);
}

body.dark p {
  color: var(--color-branco);
}

body.dark .SNemail input {
  color: var(--color-brancoMedio);

}

body.dark .SNemail input {
  color: var(--color-brancoMedio);
  border-bottom: 2px solid var(--color-brancoMedio);
}

body.dark .SNemail input::placeholder {
  color: var(--color-branco);
}

body.dark .DashBoard {
  background: var(--color-linearDark);
}

body.dark .DSlinha {
  border-bottom: 1.5px solid var(--color-brancoMedio);
}

body.dark .Login {
  background: var(--color-linearDark);
}

body.dark .Cadastro {
  background: var(--color-linearDark);
}

body.dark .botao {
  background-color: var(--color-azul);
  color: var(--color-branco)
} 

body.dark .nav ul {
  color: var(--color-branco);
}

body.dark .navLinks {
  background-color: var(--color-preto);
}

body.dark .navLinks ul {
  color: var(--color-branco);
}

@media (max-width: 480px) {

  .nav {
    display: none;
  }

  .navMobile {
    display: flex;
    align-items: center;
    gap: 4rem;
    max-width: fit-content;
    margin-inline: auto;
  }

  .navLinks {
    background-color: var(--color-cinzaEscuro);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    font-family: var(--font-share-tech);
    font-size: 20px;
    z-index: 2;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .navLinks .nlFechar {
    height: 2.6rem;
    width: 2.6rem;
    margin-bottom: 5rem;
  }

  .navLinks ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.5rem 0 0 1rem;
  }

  .navLinks .nav ul li {
    transition: transform 0.2s ease-in-out;
  }

  .navLinks ul li:hover {
    transition: 0.25s;
    color: var(--color-azul);
  }

  .navLinks .nlDesign {
    position: fixed;
    bottom: 0;
    z-index: -1;
  }

  .menuMobile {
    height: 54px;
    width: 54px;
  }
  
  .menuMobile:hover {
    opacity: 80%;
    cursor: pointer;
  }

  .logo {
    height: 5.1rem;
    width: 5.1rem;
  }

  .temaUsuario {
    height: 3.3rem;
    width: 3.3rem;
  }

  .divHomeIntro {
    display: block;
  }

  .botoesHome {
    justify-self: center;
  }

  .botoesHome > .Botao:nth-child(2) {
    display: none;
  }

  .divHomeIntro h1 {
    margin-bottom: 40rem;
    font-size: 35px;
    max-width: 310px;
    justify-self: center;
  }

  .divHomeIntro p {
    font-size: 19px;
    max-width: 326px;
    justify-self: center;
    text-align: justify;
  }

  .divHomeIntro img {
    position: relative;
    top: -52.5rem;
    width: 307px;
    height: 462px;
    justify-self: center;
  }

  .divHomeDiferencial {
    margin-top: -25rem;
  }

  .divHomeDiferencial h1 {
    display: none;
  }
  
  .dhdP1, .dhdP2 {
    display: none;
  }

  .divHomeMissao h1 {
    font-size: 35px;
    max-width: 330px;
  }

  .divHomeMissao p {
    font-size: 19px;
    max-width: 326px;
    margin: 0 auto;
    text-align: justify;
  }

  .divHD2 {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .divHD3 {
    padding-inline: 3rem;
    max-width: fit-content;
  }

  .divHD3 p {
    font-size: 15px;
  }

  .divHM1 {
    display: flex;
    flex-direction: column;
  }

  .divHM2 {
    order: 2;
    margin-top: 0.6rem;
  }

  .divHomeMissao img {
    width: 456.4px;
    height: 332px;
  }

  .GP h1 {
    font-size: 35px;
    max-width: 310px;
    text-align: center;
    justify-self: center;
  }

  .GP h2 {
    margin-block: 2.2rem;
    font-family: var(--font-share-tech);
    color: var(--color-preto);
    font-size: 30px;
  }

  .GP p {
    font-size: 19px;
    max-width: 326px;
    text-align: justify;
  }

  .GP iframe {
    width: 316px;
    height: 210px;
  }

  .materiais {
    margin-top: 5rem;
  }

  .materiais2 h1 {
    gap: 1rem;
  }

  .materiais2 h1 {
    font-size: 35px;
    max-width: 310px;
  }

  .materiais2 p {
    font-size: 19px;
    max-width: 326px;
    text-align: justify;
  }

  .materiais3 {
    gap: 1.8rem;
  }

  .material {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding-block: 0.7rem;
    align-items: center;
  }

  .Mfoto {
    height: 98.5px;
    width: 98.5px;
  }
  
  .Minformacao {
    align-items: center;
  }
  
  .Mtt {
    width: 190px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .SobreNos {
    margin-top: 5rem;
    overflow-x: hidden;
  }

  .SobreNos h1 {
    font-size: 35px;
    max-width: 375px;
  }

  .SNdev {
    height: 270px;
    width: 270px;
  }

  .SN1 {
    flex-direction: column;
  }

  .SN3 {
    margin-top: 6rem;
  }

  .SN3primeiro {
    max-width: 310px;
    justify-self: center;
    font-size: 20px;
  }

  .jogo h1 {
    margin-inline: auto;
    margin-block: 5rem;
    text-align: center;
    font-size: 35px;
    max-width: 310px;
  }

  .jogo2 {
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    height: 470px;
    margin-block: 15rem;
  }

  .jogo2 iframe {
    width: 316px;
    height: 210px;
    margin-inline: auto;
    order: -1;
  }

  .jogo4 p {
    text-align: center;
    font-size: 19px;
    max-width: 326px;
    text-align: justify;
  }

  .Referencias {
    margin-top: 5rem;
    overflow-x: hidden;
  }
  
  .Referencias h1 {
    font-size: 27px;
    max-width: 300px;
    text-align: center;
  }
  
  .Referencias p {
    max-width: 326px;
    font-size: 19px;
    text-align: justify;
    margin-top: 1.5rem;
  }

  .R1 div {
    flex-wrap: wrap;
    width: 180px;
    justify-content: space-between;
    gap: 1rem;
  }

  .R1 h4 {
    font-size: 24px;
    max-width: 300px;
    text-align: center;
  }

}
