@import "tailwindcss";

body {
  height: 100vh;

  /* opacity: 0;
  transform: translateY(20px);
  animation: bodyFadeInUp 0.7s ease-out forwards;
  animation-delay: 0.2s;
  margin: 0;
  padding: 0; */
}

/* @keyframes bodyFadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

@theme {
  --color-preto: #000;
  --color-pretoMedio: #171717;
  --color-branco: #ffff;
  --color-brancoMedio: #f7f7f7;
  --color-cinzaClaro: #E1E1E1;
  --color-cinzaAzul: #273142;
  --color-azul: #227298;

  --color-linearLuz: linear-gradient(to bottom, #E1E1E1 0%, #f7f7f7 70%);
  --color-linearAzul: linear-gradient(to bottom, #227298 0%, #273142 92%);
  --font-source-sans: "Source Sans 3", "sans-serif";
  --font-share-tech: "Share Tech", "sans-serif";
  
  --leading-1: 1.375rem;
}

/* ----------------------------------------------------------COMPONENTES */

.span {
  color: var(--color-azul);
}

.Botao {
  font-family: var(--font-share-tech);
  font-size: 18px;
  color: var(--color-azul);
  border: 1px solid var(--color-azul);
  height: 2.6rem;
  width: 11rem;
  border-radius: 22px;
  transition: 0.5s;
}

.Botao:hover {
  background-color: var(--color-azul);
  color: var(--color-branco);
  cursor: pointer;
}

.BotaoCLluz {
  margin-top: 0.6rem;
  font-family: var(--font-source-sans);
  background-color: var(--color-cinzaAzul);
  color: var(--color-branco);
  border-radius: 24px;
  font-size: 18px;
  padding-block: 0.4rem;
}

.BotaoCLluz:hover {
  cursor: pointer;
  opacity: 90%;
}

.BotaoCLDark {
  margin-top: 0.6rem;
  font-family: var(--font-source-sans);
  background-color: var(--color-azul);
  color: var(--color-branco);
  border-radius: 24px;
  font-size: 18px;
  padding-block: 0.4rem;
}

.BotaoCLDark:hover {
  cursor: pointer;
  opacity: 90%;
}

.Input {
  font-size: 15.5px;
  color: var(--color-azul);
  width: 395px;
  padding: 0.45rem 0.8rem;
  font-family: var(--font-source-sans);
  border: 2px solid var(--color-azul);
  border-radius: 17px;
}

.Input:focus {
  outline: none;
}

.Input::placeholder {
  font-family: var(--font-source-sans);
  font-size: 15.5px;
  color: var(--color-azul);
}

.material {
  background: var(--color-linearAzul);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 140px;
  padding-inline: 1.45rem;
}

.Minformacao {
  height: 140px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.65rem;
}

/* ----------------------------------------------------------Voltar */

.Mfoto {
  height: 93.5px;
  width: 93.5px;
  border-radius: 999px;
  border: 1px solid rgb(255, 255, 255);
}

.Mtt {
  width: 210px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Mtt h6 {
  font-family: var(--font-share-tech);
  font-size: 17px;
  color: var(--color-branco);
  margin-bottom: 1rem;
}

.Mtt p {
  font-family: var(--font-source-sans);
  font-size: 13.5px;
  color: var(--color-branco);
  width: 210px;
  font-weight: 400;
  text-align: left;
}

.Mpreco {
  font-family: var(--font-share-tech);
  font-size: 18px;
  color: var(--color-branco);
}

.Produtos {
  display: flex;
  align-items: center;
  gap: 5.5rem;
  max-width: fit-content;
  margin-top: 2.5rem;
  height: fit-content;
  font-family: var(--font-source-sans);
  font-size: 15.5px;
  color: var(--color-branco);
  margin-left: 2rem;
}

.Produtos .nome {
  max-width: 85px;
  height: fit-content;
}

.Produtos .descricao {
  max-width: 170px;
  height: fit-content;
}

.Produtos .icons {
  display: flex;
  gap: 1.4rem;
  margin-left: 2rem;
}

.Produtos .icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.FooterLuz {
  margin-top: 7rem;
  width: 100%;
  height: 35px;
  background-color: var(--color-cinzaAzul);
  display: flex;
  align-items: center;
}

.FooterDark {
  margin-top: 7rem;
  width: 100%;
  height: 35px;
  background-color: var(--color-azul);
  display: flex;
  align-items: center;
}

/* ----------------------------------------------------------NAVBAR */

.nav {
  max-width: fit-content;
  position: relative;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: end;
}

.logo {
  height: 3.8rem;
  width: 3.8rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.15);
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 7.5rem;
  font-family: var(--font-share-tech);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-pretoMedio);
  margin-right: 4.1rem;
}

.nav ul li {
  transition: transform 0.8s ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.15);
  transition: 0.2s;
  cursor: pointer;
  color: var(--color-azul);
}

.divTemaUsuario  {
  display: flex;
  gap: 1.3rem;
}

.temaUsuario {
  cursor: pointer;
  height: 37px;
  width: 37px;
}

.temaUsuario:hover {
  opacity: 80%;
}

/* ----------------------------------------------------------HOME */

.divHomeIntro {
  position: relative;
  max-width: 1035px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 7.47rem;
}

.divHomeIntro img {
  width: 336px;
  height: 500px;
  border-radius: 7.8rem;
  box-shadow: 5px 8px 12px 0 #227298;
}

.divHomeIntro h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
  margin-top: 3.75rem;
  max-width: 550px;
  line-height: normal;
}

.divHomeIntro p {
  font-size: 18px;
  font-family: var(--font-source-sans);
  max-width: 470px;
  margin-block: 4rem;
}

.divHomeDiferencial {
  max-width: 1035px;
  margin-top: 14rem;
  margin-inline: auto;
}

.divHomeDiferencial h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
  max-width: 550px;
  line-height: normal;
}

.umDois {
  font-size: 18px;
  font-family: var(--font-source-sans);
  text-align: justify;
  max-width: 600px;
  margin-block: 5rem;
}

.dhdP1 {
  justify-self: end;
}

.dhdP2 {
  justify-self: center;
}

.bordaIcon {
  background-color: var(--color-cinzaClaro);
  border-radius: 999px;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divHD2 {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.bordaIcon img {
  width: 38px;
}

.divHD3 {
  background-color: var(--color-azul);
  border-radius: 40px;
  padding-block: 1.2rem;
  padding-inline: 2rem;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.divHD3 h4 {
  color: var(--color-branco);
  text-align: justify;
  font-family: var(--font-share-tech);
  font-size: 16px;
  font-weight: 400;
}

.divHD3 p {
  color: var(--color-branco);
  max-width: 200px;
  text-align: center;
  font-family: var(--font-source-sans);
  font-size: 14px;
  font-weight: 300;
}

.divHomeMissao {
  margin-top: 8.4rem;
}

.divHomeMissao h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
  max-width: 500px;
  line-height: normal;
  justify-self: center;
  text-align: center;
}

.divHM1 {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.divHM2 {
  display: flex;
  flex-direction: column;
  margin-top: 7.6rem;
  gap: 1.8rem;
}

.divHomeMissao p {
  font-family: var(--font-source-sans);
  font-size: 18px;
  max-width: 600px;
  text-align: center;
}

.divHomeMissao img {
  width: 500.4px;
  height: 432px;
}

/* ----------------------------------------------------------GUIA */

.GP {
  margin-top: 6rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 955px;
}

.GP h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
}

.GP h2 {
  margin-top: 3rem;
  font-family: var(--font-share-tech);
  color: var(--color-preto);
  font-size: 30px;
}

.GP p {
  font-family: var(--font-source-sans);
  text-align: center;
  max-width: 800px;
  margin-top: 1rem;
  font-size: 18px;
}

.GPa {
  margin-bottom: 3rem;
}

.GP .GPb {
  margin-block: 3rem;
}

/* MATERIAIS */

.materiais {
  margin-top: 7.47rem;
}

.materiais2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.materiais2 h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
  text-align: center;
  max-width: 600px;
}

.materiais2 p {
  max-width: 880px;
  text-align: center;
  font-family: var(--font-source-sans);
  font-size: 18px;
}

.materiais2 button {
  margin-left: auto;
  margin-right: 2rem;
  cursor: pointer;
}

.materiais3 {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

/* ----------------------------------------------------------CADASTRO MATERIAIS */

.CM1 {
  margin-top: 7.47rem;
  display: flex;
  align-items: center;
  max-width: fit-content;
  margin-left: 12rem;
}

.CM1 h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
  text-align: center;
  margin-left: 12.25rem;
}

.voltar {
  display: flex;
  align-items: center;
  font-family: var(--font-share-tech);
  font-size: 30px;
  gap: 1rem;
  transition: transform 0.3s ease-in-out;
}

.voltar:hover {
  cursor: pointer;
  transform: scale(0.9);
  opacity: 60%;
}

.voltar img {
  height: 30px;
  width: 30px;
}

.Adicionar {
  max-width: 900px;
  height: 100px;
  margin-inline: auto;
  margin-top: 7.47rem;
  background: var(--color-azul);
  display: flex;
  align-items: center;
  gap: 3.5rem;
  padding-inline: 2rem;
  border-radius: 30px 30px 0 0;
  border: 2px solid var(--color-branco);
}

.Adicionar img, .foto {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.Adicionar input {
  outline: none;
  border-bottom: 1.5px solid var(--color-cinzaClaro);
  font-family: var(--font-source-sans);
  color: var(--color-cinzaClaro);
  padding-left: 0.5rem;
  max-width: 135px;
  font-size: 16.5px;
}

.Adicionar input::placeholder {
  font-size: 15.5px;
  color: var(--color-cinzaClaro);
  font-family: var(--font-source-sans);
}

.Adicionar button {
  border: 1px solid var(--color-branco);
  font-family: var(--font-share-tech);
  font-size: 17px;
  color: var(--color-branco);
  padding: 0.1rem 1.4rem;
  border-radius: 24px;
  transition: 0.25s;
}

.Adicionar button:hover {
  color: var(--color-azul);
  background-color: var(--color-branco);
  cursor: pointer;
}

.Apreco {
  margin-left: 3rem;
}

.CMprodutos {
  max-width: 900px;
  margin-inline: auto;
  margin-top: 2rem;
  background: var(--color-linearAzul);
  border-radius: 0 0 30px 30px;
  border: 2px solid var(--color-branco);
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.CMprodutos .CMtitulo {
  display: flex;
  max-width: fit-content;
  gap: 11rem;
  margin-left: 8.2rem;
  font-family: var(--font-share-tech);
  font-size: 19px;
  color: var(--color-branco);
}

/* ----------------------------------------------------------DASHBOARD */

.DashBoard {
  border: 2px solid var(--color-brancoMedio);
  background: var(--color-linearLuz);
  margin-top: 7.47rem;
  margin-inline: auto;
  max-width: 1090px;
  padding-top: 2.5rem;
  padding-bottom: 7rem;
  border-radius: 100px 0px 100px 0px;
}

.DSlinha {
  border-bottom: 1.5px solid var(--color-cinzaAzul);
  max-width: fit-content;
  justify-self: center;
  margin-bottom: 5rem;
}

.DashBoard h1 {
  font-size: 35px;
  font-family: var(--font-share-tech);
  width: 300px;
  margin-inline: auto;
  margin-bottom: 0.4rem;
  text-align: center;
}

.DS2 {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 800px;
}

.DashBoard .DSinputs {
  display: flex;
  flex-direction: column;
  gap: 1.15rem;
}

.DS3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.DS3 button {
  font-family: var(--font-source-sans);
  font-size: 16px;
  color: var(--color-azul);
  cursor: pointer;
}

.DSfoto {
  border: 3.5px solid var(--color-azul);
  border-radius: 999px;
  height: 188px;
  width: 188px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DSfoto div {
  background-image: url('https://makerworld.bblmw.com/makerworld/model/USba80b41eea3f28/design/2023-12-19_dce3f723a8ba2.jpg?x-oss-process=image/resize,w_1000/format,webp');
  background-size: cover;
  background-position: center;
  border-radius: 999px;
  height: 169px;
  width: 169px;
}

/* ----------------------------------------------------------JOGO */

.jogo h1 {
  margin-inline: auto;
  margin-top: 7.47rem;
  margin-bottom: 7.47rem;
  width: 320px;
  text-align: center;
  font-size: 35px;
  font-family: var(--font-share-tech);
}

.jogo2 {
  display: flex;
  justify-content: center;
  gap: 6rem;
  height: 470px;
}

.jogo3 {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.jogo4 {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.jogo4 p {
  font-family: var(--font-source-sans);
  text-align: center;
  font-size: 18px;
}

/* ----------------------------------------------------------REFERÊNCIAS */

.Referencias {
  margin-top: 7.47rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.Referencias h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
}

.Referencias p {
  font-family: var(--font-source-sans);
  text-align: center;
  max-width: 1000px;
  font-size: 18px;
}

.R1 {
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.5rem;
  margin-top: 2rem;
}

.R1 h4 {
  color: var(--color-preto);
  font-size: 25px;
  font-family: var(--font-share-tech);
}

.R1 div {
  display: flex;
  width: 600px;
  justify-content: space-around;
}

.R1 a {
  font-weight: 600;
  font-style: italic;
}

/* ----------------------------------------------------------SOBRE NÓS */

.SobreNos h1 {
  font-family: var(--font-share-tech);
  color: var(--color-pretoMedio);
  font-size: 38px;
  justify-self: center;
}

.SobreNos {
  margin-top: 7.47rem;
}

.SN2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.SN1 {
  display: flex;
  align-items: start;
  margin-inline: auto;
  max-width: 1120px;
  margin-top: 5rem;
  justify-content: space-between;
}

.SNdev {
  border-radius: 999px;
  height: 280px;
  width: 280px;
}

.SN2primeiro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.SN2segundo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.SN2segundo a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.SN2segundo a p {
  font-family: var(--font-share-tech);
  color: var(--color-cinzaAzul);
  font-size: 16px;
}

.unasp {
  height: 190px;
  width: 190px;
}

.insta {
  height: 30px;
  width: 30px;
}

.SN3 {
  width: 740px;
}

.SN3primeiro {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.SN3primeiro p {
  font-family: var(--font-source-sans);
  font-size: 18px;
}

.SNemail {
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-top: 5.4rem;
}

.SNemail input {
  width: 430px;
  outline: none;
  border-bottom: 2px solid var(--color-preto);
  color: var(--color-cinzaAzul);
  font-size: 16px;
  font-family: var(--font-source-sans);
}

.SNemail h4 {
  max-width: 200px;
  margin-inline: auto;
  font-family: var(--font-share-tech);
  color: var(--color-cinzaAzul);
  font-size: 24px;
}

.SNemail input::placeholder {
  color: var(--color-cinzaAzul);
  font-size: 15px;
  font-family: var(--font-share-tech);
}

/* ----------------------------------------------------------CADASTRO */

.Cadastro {
  margin-top: 7.47rem;
  margin-inline: auto;
  width: 590px;
  padding-block: 2.5rem;
  border: 2px solid var(--color-brancoMedio);
  background: var(--color-linearLuz);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
}

.Cadastro h1 {
  font-size: 35px;
  font-family: var(--font-share-tech);
  margin-bottom: 4.5rem;
}

.Cadastro div {
  display: flex;
  flex-direction: column;
  gap: 1.15rem;
}

/* ----------------------------------------------------------LOGIN */

.Login {
  margin-top: 7.47rem;
  margin-inline: auto;
  width: 590px;
  padding-block: 2.5rem;
  border: 2px solid var(--color-brancoMedio);
  background: var(--color-linearLuz);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
}

.Login h1 {
  font-size: 35px;
  font-family: var(--font-share-tech);
  margin-bottom: 4.5rem;
}

.Login div {
  display: flex;
  flex-direction: column;
  gap: 1.15rem;
}


/* @layer utilities {
.bg-radial-dark {
  background: radial-gradient(ellipse at center, #273142, #000000);
}

.bg-linear-vertical {
  background: linear-gradient(to bottom, #227298, #273142);
}

} *